{{ $directory := "content/" }}
{{ $filename := "mailing-list.md" }}
{{ if (where (readDir $directory) "Name" $filename) }}
  <section class="about" id="mailing-list">
    <div class="container middle-xs">
      <div class="row center-xs">
        <div class="col-xs-12">
          <h1>{{ with $.Site.GetPage "page" "mailing-list.md" }}{{ .Title }}{{ end }}</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 middle-xs">
          {{ with $.Site.GetPage "page" "mailing-list.md" }}
            {{ .Content }}
            <center>
                <p>
                    If you enjoy my articles, comics and stories, why not sign up for the mailing list?
                </p>
            <iframe width="480" height="320" src="https://cloudirregular.substack.com/embed" frameborder="0" scrolling="no"></iframe>
          </center>
          {{ end }}
        </div>
      </div>
    </div>
  </section>
{{ end }}