table{
  border-collapse: collapse;
  border-spacing: 0;
  border:2px solid #000000;
}

th{
  border:2px solid #000000;
  padding: 5px
}

td{
  border:1px solid #000000;
  padding: 5px
}

SS
.book-container {
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: var(--perspective);
  
  --rotate: -30deg;
  --rotateHover: 0deg;
  --perspective: 600px;
  --transitionDuration: 1s;
  --radius: 2px;
  --thickness: 50px;
  --bgColor: #ffffff;
  --width: 300px;
  --height: 300px;
  --pagesOffset: 3px;
}

.book {
  width: var(--width);
  height: var(--height);
  position: relative;
  transform-style: preserve-3d;
  transform: rotateY(var(--rotate));
  transition: var(--transitionDuration) ease;
}

.book:hover {
  transform: rotateY(var(--rotateHover));
}

.book > :first-child {
  position: absolute;
  top: 0;
  left: 0;
  background-color: red;
  width: var(--width);
  height: var(--height);
  transform: translateZ(calc(var(--thickness) / 2));
  background-color: var(--bgColor);
  border-radius: 0 var(--radius) var(--radius) 0;
  box-shadow: 5px 5px 20px #666;
}

.book::before {
  position: absolute;
  content: ' ';
  background-color: blue;
  left: 0;
  top: var(--pagesOffset);
  width: var(--thickness);
  height: calc(var(--height) - 2 * var(--pagesOffset));
  transform: translateX(calc(var(--width) / 2 - var(--thickness) / 2 - var(--pagesOffset))) rotateY(90deg) translateZ(calc(var(--width) / 2));
  background: linear-gradient(90deg, 
    #fff 0%,
    #f9f9f9 5%,
    #fff 10%,
    #f9f9f9 15%,
    #fff 20%,
    #f9f9f9 25%,
    #fff 30%,
    #f9f9f9 35%,
    #fff 40%,
    #f9f9f9 45%,
    #fff 50%,
    #f9f9f9 55%,
    #fff 60%,
    #f9f9f9 65%,
    #fff 70%,
    #f9f9f9 75%,
    #fff 80%,
    #f9f9f9 85%,
    #fff 90%,
    #f9f9f9 95%,
    #fff 100%
    );
}

.book::after {
  position: absolute;
  top: 0;
  left: 0;
  content: ' ';
  width: var(--width);
  height: var(--height);
  transform: translateZ(calc(0px - var(--thickness) / 2));
  background-color: var(--bgColor);
  border-radius: 0 var(--radius) var(--radius) 0;
  box-shadow: -10px 0 50px 10px #666;
}
