<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  {{ partial "header.html" . }}
  <body>
    {{ partial "body-top" . }}
    <main>
        <!-- open graph -->
        <meta property="og:type" content="website" />
        <meta property="og:title" content="{{ if ne .URL "/" }}{{ .Title }} &middot; {{ end }}{{ .Site.Title }}"/>
        <meta property="og:description" content="{{ if .Description }}{{ .Description }}{{ else }}{{ .Site.Params.description }}{{ end }}"/>
        <meta property="og:site_name" content="{{ .Site.Title }}"/>
        <meta property="og:url" content="{{ .Permalink }}"/>
        <meta property="og:locale" content="en">
          {{ if .Params.og_image }}
        <meta property="og:image" content="http://example.com{{ .Params.og_image | relURL }}"/>
        <meta property="og:image:secure_url" content="{{ .Params.og_image | absURL }}"/>
        {{ else }}
        <meta property="og:image" content="http://example.com{{ .Site.Params.og_image | relURL }}"/>
        <meta property="og:image:secure_url" content="{{ .Site.Params.og_image | absURL }}"/>
        {{ end }}
        <meta property="og:type" content="website"/>
      <section class="container">
          <section class="content">
              <h1>{{ if .Params.heading }} {{ .Params.heading }} {{ else }} {{ .Title }} {{ end }}</h1>

              <div class="sub-header">
                  {{ .Date.Format (.Site.Params.dateform | default "January 2, 2006") }} · {{ .ReadingTime }} minute read
              </div>
              
              <article class="entry-content">
                  {{ .Content }}
              </article>
              <center>
              <div>
                  <p>
                      If you enjoy my articles, comics, and stories, why not sign up for the mailing list?
                  </p>
              </div>
              <iframe width="480" height="320" src="https://cloudirregular.substack.com/embed" frameborder="0" scrolling="no"></iframe>
            </center>
              <div class="pagination">
                  {{ if .PrevInSection }}
                      <a href="{{ .PrevInSection.Permalink }}">&laquo; {{ .PrevInSection.Title }}</a>
                  {{ end }}
                  {{ if .NextInSection }}
                      <a href="{{ .NextInSection.Permalink }}">{{ .NextInSection.Title }} &raquo;</a>
                  {{ end }}
              </div>
          </section>
          <br>
          {{ partial "disqus" . }}
      </section>

    </main>
    {{ partial "footer.html" . }}
    {{ partial "body-bottom" . }}
  </body>
</html>
